html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

h1, h2, h3, p, ul, li, a {
    padding: 0;
    margin: 0;
}



img {
    max-width: 100%;
    display: block;
}

/* general styles */

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header & nav styles */

.mobile, .fa-bars {
    visibility: hidden;
}

header {
    background-image: url('./assets/header-2.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

header nav ul {
    padding-top: 10px;
}

header nav a {
    color: #FABA63;
    font-family: 'Lato', sans-serif;
    line-height: 29px;
    font-size: 20px;
}

header nav li {
    float: left;
    padding-right: 30px;
}

.title {
    text-align: right;
    float: right;
    position: absolute;
    top: 25vh;
}

.title h1 {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 162px;
    line-height: 140px;
}

.title h2 {
    text-transform: capitalize;
    color: #FABA63;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
}

#header {
    position: relative;
}

.socials i {
    color: white;
    font-size: 20px;
    padding: 5px;
}

.socials li {
    text-align: center;
}

.socials ul {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

/* featured section styles */

.featured {
    background-color: #14171F;
    padding: 60px 0 60px;
}

.featured img {
    height: 50vh;
    float: left;
}

.featured-text {
    float: left;
    max-width: 65%;
    margin-left: 5%;
}

.featured h1 {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 51px;
}

.featured p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 5%;
}

.button {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 29px;
    padding: 10px;
    border: solid 2px #FABA63;
}

/* gallery styles */

.gallery {
    background-color: #201E21;
}

.gallery h1 {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 51px;
    text-align: center;
    padding: 10vh 0;
}

.gallery img {
    width: calc((100% - 10%) / 3);
    float: left;
    display: block;
    padding-bottom: 20vh;
}

.second {
    margin-left: 5%;
}

.last {
    margin-left: 5%;
}

/* icon styles */

.icons {
    background-color: #14171F;
}

.icons i {
    color: #FABA63;
    font-size: 50px;
    padding-top: 20%;
    padding-bottom: 10px;
}

.icons a {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 20%;
    display: block;
}

.icons li {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

.icons ul {
    margin: 0 auto;
}
/* blog styles */

.blog {
    background-color: #201E21;
}

.blog h1 {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 51px;
}

.blog p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.sustainable-img {
    float: right;
    width: 50%;
    margin-left: 5%;
}

.sustainable-text {
    float: left;
    margin-left: 10%;
    width: 35%;
    padding: 5% 0 5%;
}

.mixmatch-img {
    float: left;
    width: 50%;
}

.mixmatch-text {
    float: left;
    margin-left: 5%;
    width: 35%;
    padding: 5% 0 5%;
}

.blog p {
    padding-bottom: 10%;
}

.blog .button {
    margin-bottom: 10%;
}
/* footer styles */

footer {
    background-color: #14171F;
}

#footer {
    position: relative;
}

footer nav a {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-nav, .subscribe, .contact {
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
}

.subscribe {
    position: absolute;
    right: 30%;
}

.contact {
    position: absolute;
    right: 0px;
}

.subscribe h3, .contact h3 {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;
}

.subscribe h3 {
    text-align: center;
}

.contact h3 {
    text-align: right;
}

.subscribe p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.contact p, .contact a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: right;
}

button {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 15px;
    background-color: black;
    border: none;
    padding: 10px 30px;
    height: 40px;
}

input[type="email"] {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border-style: none;
    height: 40px;
    padding-left: 20px;
    width: 25vw;
}

.copyright {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: right;
    text-align: center;
    background-color: black;
}

/* media queries */

@media (max-width: 1250px) {

.featured img {
    height: 40vh;
}

.featured h1 {
    font-size: 30px;
}

.featured p, .contact a, .contact p, .subscribe p {
    font-size: 16px;
}
}

@media (max-width: 1100px) {

.featured img {
    height: 35vh;
}

.gallery h1, .icons a, .blog h1 {
    font-size: 30px;
}

.gallery h1 {
    padding: 5vh 0;
}

.gallery img {
    padding-bottom: 10vh;
}

.blog p {
    font-size: 16px;
}

.contact a {
    display: block;
}
}

@media (max-width: 900px) {

.featured img, .featured picture {
    float: none;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

.featured-text {
    margin: 0;
    padding-top: 5%;
    min-width: 100%;
}

.featured h1 {
    text-align: center;
    padding-bottom: 3%;
}

.featured a {
    text-align: center;
    display: block;
    width: 40%;
    margin: 0 auto;
}

.footer-nav, .subscribe, .contact {
    float: none;
}

.footer-nav li {
    float: left;
    padding-left: 5%;
}

.footer-nav li:first-of-type {
    padding-left: 0;
}

.subscribe, .contact {
    position: static;
}

.subscribe, .contact h3, .contact p, .contact a {
    text-align: center;
}

input[type="email"] {
    margin: 2%;
    width: 60%;
    text-align: center;
    padding-left: 0;
}

button {
    display: block;
    margin: 2% auto;
    width: 60%;
    font-size: 25px;  
    padding: 0;
}

.contact {
    padding-top: 0;
}
}

@media (max-width: 800px) {

.wrapper {
    width: 90%;
}

header {
    background-image: url('./assets/header-1.jpg');
    height: 200vh;
}

.title h1 {
    font-size: 100px;
    line-height: 90px;
}

.title h2 {
    font-size: 30px;
}

.socials {
    visibility: hidden;
}

.gallery h1 {
    padding: 10% 0;
}

.gallery .last {
    visibility: hidden;
    display: inline;
    height: 0;
    width: 0;
}

.gallery img {
    width: calc((100% - 5%) / 2);
    padding-bottom: 5%;
}   

.icons a {
    font-size: 20px;
}

.sustainable-img, .mixmatch-img {
    float: none;
    width: 100%;
    margin: 0;
}

.mixmatch-text, .sustainable-text {
    width: auto;
    margin-right: 5%;
}

.sustainable-text {
    margin-left: 5%;
}

.mixmatch-text h1, .sustainable-text h1 {
    text-align: center;
}

.mixmatch-text a, .sustainable-text a {
    text-align: center;
    display: block;
    width: 40%;
    margin: 0 auto;
}

.blog p {
    padding-bottom: 5%;
    padding-top: 5%;
}

.blog .button {
    margin-bottom: 5%;
}
}

@media (max-width: 550px) {

header {
    height: 100vh;
}

.title h1 {
    font-size: 70px;
    line-height: 60px;
}

.title h2 {
    font-size: 20px;
}

.icons li {
    float: none;
    margin: 0 auto;
}

.icons a {
    width: 100%;
}
}

@media (max-width: 450px) {

.regular {
    visibility: hidden;
}

.fa-bars {
    visibility: visible;
    color: white;
    font-size: 50px;
    width: 100%;
    text-align: right;
}

.featured a, .blog a {
    width: 55%;
}
}

@media (max-width: 400px) {

.title h1 {
    font-size: 50px;
    line-height: 40px;
}

.title h2 {
    font-size: 16px;
}

footer nav a {
    font-size: 16px;
}
}